<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 방명록 조회. 등록과 유사하지만 readonly 속성이 적용되고
 다시 목록 페이지로 이동하는 링크와 수정과 삭제가 가능한 링크 제공 -->
<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <h1 class="mt-4">방명록 게시글 조회</h1>

        <div class="form-group">
            <label >Gno</label>
            <input type="text" class="form-control" name="gno" th:value="${dto.gno}" readonly >
        </div>

        <div class="form-group">
            <label >Title</label>>
            <input type="text" class="form-control" name="title" th:value="${dto.title}" readonly >
        </div>
        <div class="form-group">
            <label >Content</label>
            <!--<textarea class="form-control" rows="5" name="content" id="content" readonly>[[${dto.content}]]</textarea>-->
            <input type="hidden" name="content" id="content" th:value="${dto.content}">

            <!-- ck에디터 이미지 불러오기  -->
            <!--<div id="innerImage" style="margin-left:500px";>

            </div>-->

            <div id="innerImage">


            </div>

        </div>
        <div class="form-group">
            <label >Writer</label>
            <input type="text" class="form-control" name="writer" th:value="${dto.writer}" readonly>
        </div>
        <div class="form-group">
            <label >RegDate</label>
            <input type="text" class="form-control" name="regDate" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>
        <div class="form-group">
            <label >ModDate</label>
            <input type="text" class="form-control" name="modDate" th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>

        <a th:href="@{/guestbook/modify(gno = ${dto.gno}, page=${requestDTO.page})}">
            <button type="button" class="btn btn-primary">수정</button>
        </a>
		
        <a th:href="@{/guestbook/list(page=${requestDTO.page})}">
            <button type="button" class="btn btn-info">목록</button>
        </a>

      	<form action="/guestbook/remove" method="post" onsubmit="return false" class="delete_form">
      		<input type="hidden" name="gno" th:value="${dto.gno}">
      		<input type="hidden" name="page" th:value="${requestDTO.page}">
        	<button type="button" class="btn btn-danger removeBtn">삭제</button>       
        </form>
      <!--   <a th:href="@{/guestbook/remove(gno = ${dto.gno}, page=${requestDTO.page})}">
        	<button type="button" class="btn btn-danger removeBtn">삭제</button>
        </a> -->
        
         <!-- 모달창 -->
      <!--    <div class="modal" tabindex="-1" role="dialog" id="CatModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">경고메세지</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>삭제하시겠습니까?</p>
                    </div>
                    <div class="modal-footer">
                        <button onclick="CatDelete()" type="button" class="btn btn-secondary">삭제하기</button>
                        <a th:href="@{/guestbook/remove(gno = ${dto.gno}, page=${requestDTO.page})}" data-toggle="modal" data-target="#CatModal">
                        </a>
                        
                        
                        <button onclick="CatDelete()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button"  class="btn btn-secondary" data-dismiss="modal">취소하기</button>
                    </div>
                </div>
            </div>
        </div>   -->

        
			

    </th:block>

</th:block>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<script>


    $(function(){
    	
    	/* ck에디터 이미지 */
        var content = $("#content").val();

        $("#innerImage").html(content);
        
        /* 삭제버튼 이벤트 */
        $(".removeBtn").on("click", function(e) {
			e.preventDefault();
			if(confirm("삭제하시겠습니까?")){
				alert("게시물이 삭제되었습니다.");
				$(".delete_form").attr("onsubmit", "result true");
				$(".delete_form").submit();
			}else{
			}
		})
		
	});
    
    
    
    
    

 </script>
